# As this is intended as a module only,
# locking for local dependencies doesn't help.
package-lock=false

# In order to publish as a public, not restricted package.
# https://docs.npmjs.com/creating-and-publishing-scoped-public-packages#publishing-scoped-public-packages
access=public
